.header__logo {
    width: 150px;
    height: 24px;
    margin-top: 90px;
}

.header__title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--bg-primary);
}

.header__description {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: var(--secondary-color);
    margin-top: 25px;
}

.header__button {
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 230px;
    height: 48px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-primary);
    background-color: var(--bg-primary);
    border-radius: 4px;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 0px 4px 8px #c5c4c4;
}

.header__button-icon {
    background-image: url('/assets/icons/arrow_down.svg');
    display: inline-block;
    width: 20px;
    height: 16px;
    margin-left: 2px;
}

/* ======================= SECTION DE INTERCAMBIO ======================= */
.exchange__content {
    width: 90%;
    margin: 0 auto;
}

.exchange__title {
    margin-top: 30px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--text-primary);
    margin-bottom: 20px;
}

.exchange__description {
    color: var(--text-tertiary);
    font-size: 1.4rem;
}

/* ======================= SECTION DE MONEDAS ======================= */
.exchange-info__currencies {
    width: 90%;
    margin: 40px auto;
    padding: 0 15px;
}

.currencies__title {
    font-size: 1.8rem;
    color: var(--primary-color);
    text-align: left;
    font-weight: 500;
    width: 70%;
    margin: 0 auto;
}

.currencies__table {
    width: 80%;
    background-color: var(--bg-primary);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid var(--bg-secondary);
    margin: 15px auto;
}

.currencies__table td {
    border-bottom: 1px solid var(--bg-secondary);
    border-right: 1px solid var(--bg-secondary);
    padding: 10px 12px;
    font-size: 1.4rem;
}

.currencies__table td:first-child {
    color: var(--text-cuaternary);
    font-weight: 500;
    text-align: left;
}

.currencies__table td:last-child {
    color: var(--text-tertiary);
    font-weight: 300;
}

.currencies__table td:last-child span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.currencies__update {
    background-color: var(--secondary-color);
    padding: 8px 12px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    width: fit-content;
    margin: auto;
    font-size: 1.2rem;
}

/* ======================= SECTION DE BENEFICIOS ======================= */
.benefits__content {
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

.benefits__title {
    font-size: 2.4rem;
    color: var(--bg-primary);
    font-weight: 500;
    margin-bottom: 30px;
}

.benefits__description {
    font-size: 1.4rem;
    color: var(--text-quaternary);
}

.benefits__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.benefits-card {
    background-color: var(--text-secondary);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 20px;
    text-align: left;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.benefits-card__title {
    font-size: 1.8rem;
    color: var(--bg-primary);
    font-weight: 600;
    margin-bottom: 10px;
}

.benefits-card__description {
    font-size: 1.4rem;
    color: var(--text-quaternary);
}